{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
    
<form method="post">
    {% csrf_token %}
    <div class="container login-form">
        <h2 class="login-title">- Sign Up -</h2>
        <div class="panel panel-default">
            <div class="panel-body">
                <form>
                    <div class="input-group login-userinput">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                        <input id="txtUser" type="text" class="form-control" name="email" placeholder="Email">
                    </div>
                    <div class="input-group login-userinput">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                        <input id="txtUser" type="text" class="form-control" name="username" placeholder="Username">
                    </div>
                    <div class="input-group login-userinput">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                        <input id="txtUser" type="text" class="form-control" name="first_name" placeholder="First Name">
                    </div>
                    <div class="input-group login-userinput">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                        <input id="txtUser" type="text" class="form-control" name="last_name" placeholder="Last Name">
                    </div>
                    <div class="input-group login-userinput">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                        <input id="txtPassword" type="password" class="form-control" name="password1" placeholder="Password">
                    </div>
                    <div class="input-group login-userinput">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                        <input id="txtPassword" type="password" class="form-control" name="password2" placeholder="Confirm Password">
                    </div>
                        <button class="btn btn-primary btn-block login-button" type="submit"><i class="fa fa-sign-in"></i>Submit</button>
                        <div class="checkbox login-options">
                        <!-- <a href="{% url 'password_reset' %}" class="login-forgot">Forgot Username/Password?</a> -->
                    </div>      
                </form>         
            </div>
        </div>
    </div>
</form>
{% endblock %}