{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  {% for pizza in pizzas %}
        <li>
            {{ pizza.name }}
            Small {{ pizza.small }}
            Large {{ pizza.large }}
            <!-- <img src="{{ category.cover }}" height="100px" alt="{{ category.name }}">  -->
        </li>
    {% endfor %}
{% else %}
  <h1>You are not logged in</h1>
  <a href="{% url 'login' %}" class="btn btn-primary">login</a>
  <a href="{% url 'signup' %}" class="btn btn-primary">Sign Up</a>
{% endif %}
{% endblock %}
