h1 {
	text-indent: 40px;
	padding: 40px;
	padding-bottom: 30px;
	border-bottom: 1px solid grey;
}
ul > li {
	background-color: #fafafa;
	border-bottom: 1px solid grey;
	border-left: 5px solid #03cc85;
	border-radius: 10px;
	width: 200px;
	text-indent: 20px;
	padding: 3px;
	list-style: none;
	margin: 10px;
}
.contact{
	background-color: #fafafa;
	border-bottom: 1px solid grey;
	border-left: 5px solid #03cc85;
	border-radius: 10px;
	width: 300px;
	text-indent: 20px;
	padding: 3px;
	list-style: none;
	margin: 10px;
}
/*align anything center*/
.center {
	text-align:center;
	display:block;
}
/*class for jordan sherfield sidebar name*/
.sidebarName{
	color: #aaa;
	font-size: 30px;
	text-decoration: none;
	padding: 20px;
}
 /* Style the sidebar - fixed full height */

.sidebar {
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 16px;
}

/* Style sidebar links */
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

/* Style links on mouse-over */
.sidebar a:hover {
  color: #f1f1f1;
}


/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a ,.sidebarName{font-size: 18px;}
}

@media (max-width: 800px){
	.sidebarName , .hide{
		font-size: 0px;
	}
	.sidebar a{
		padding: 0;
		text-align: center;
		font-size: 30px;
		
	}
}