

$width: 3px ;
%project{
    font-size: 18px;
    font-weight: bold;
    // border: 1px solid grey;
    background-color: #fafafa;
}

.easy {
    @extend %project;
    border-bottom: $width solid #00b33c;
}

.medium {
    @extend %project;
    border-bottom:$width solid #0000cc;
}

.hard {
    @extend %project;
    border-bottom:$width solid #e60000;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px; /* 5px rounded corners */
  border-spacing: 20px;
}

/* Add rounded corners to the top left and the top right corner of the image */
.card {
    img {
        border-radius: 5px 5px 0 0;
        width: 200px;
    }
}